@model XpenseTrackerWebApp.Models.Settings;
@{
    ViewData["PageTitle"] = "Settings";
}

<div class="sideBar" id="sideBar">
    <div class="sideBarContent">
        <button class="Btn" data-controller="Category" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color:#edf2fb;">
            <i class="fas fa-folder"></i> <span class="btnText">Categories</span>
        </button>
        <p class="buttonText"> </p>

        <button class="Btn" data-controller="Transaction" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color:#edf2fb;">
            <i class="fas fa-exchange-alt"></i> <span class="btnText">Transactions</span>
        </button>
        <p class="buttonText"> </p>

        <button class="Btn" data-controller="Dashboard" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color: #edf2fb;">
            <i class="fas fa-home" style="font-size: 20px;"></i> <span class="btnText">Dashboard</span>
        </button>

    </div>


    <!-- Application Name at Bottom -->
    <div class="appName">
        <span class="shortName">XPT</span>
        <span class="fullName">XPenseTracker</span>
    </div>
</div>

@*Right Sidebar*@
<div class="rightSideBar" id="rightSideBar">
    <div class="sideBarContent">

        <button class="Btn" data-controller="Dashboard" data-action="TodayView">
            <i class="fa-solid fa-calendar-day" style="font-size: 25px;"></i>
        </button>
        <p class="buttonText">Today</p>

        <button class="Btn" data-controller="Dashboard" data-action="Index">
            <i class="fa-solid fa-calendar-week" style="font-size: 25px;"></i>
        </button>
        <p class="buttonText">Week</p>

        <button class="Btn" data-controller="Dashboard" data-action="MonthView">
            <i class="fa-solid fa-calendar-days" style="font-size: 25px;"></i>
        </button>
        <p class="buttonText">Month</p>
    </div>

    <!--Settings Button Container-->
    <div class="bottomName">
        <button class="Btn" data-controller="Settings" data-action="SettingsView">
            <i class="fa-solid fa-gear" style="font-size: 25px; color:#ff7497 !important"></i>
        </button>
        <span class="shortName">Settings</span>
    </div>
</div>

<div class="container mt-4">
    <div class="settings-container">
        <form asp-action="SaveSettings">
            <div class="settings-row">
                    <ejs-numerictextbox id="expenseLimit" ejs-for="ExpensesLimit"
                                        placeholder="Your Monthly Expenses Limit" 
                                        floatLabelType="Always" min="0" format="c0"
                    value="@Model.ExpensesLimit"></ejs-numerictextbox>

                    <span asp-validation-for="ExpensesLimit" class="text-danger fs-6"></span>
            </div>
            <!-- Save Button -->
            <div class="text-center form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        
    </div>
</div>