@{
    ViewData["Title"] = "Home Page";
}


<div class="sideBar" id="sideBar">
    <div class="sideBarBtn">
        <button class="Btn">Daily Expenses</button>
    </div>
    <div class="sideBarBtn">
        <button class="Btn">Weekly Expenses</button>
    </div>
    <div class="sideBarBtn">
        <button class="Btn">Monthly Expenses</button>
    </div>
    <div class="sideBarBtn">
        <button class="Btn">Budget Settings</button>
    </div>
</div>

<div class="backgroundBox">
    <h1>Background Stuff</h1>
</div>

<div class="dailyBox">
    <h1>Your Daily Expenses</h1>
</div>