body {
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    left: 0;
    width: 240px;
    position: fixed;
    top: 84px;
    bottom: 0;
    height: calc(100vh - 95px - 50px); /* Adjust height minus navbar and footer */
    overflow-y: auto;
    overflow: hidden;
    transition: width 0.3s ease;
    background-color: #ffa700;
    overflow-x: hidden;
    border-radius: 5px;
    opacity: 99%;
}

.sideBar:hover {
    width: 240px;
}

.sideBarBtn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    background: none;
    color: white;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: font-size 0.3s ease, padding 0.3s ease; /* Smooth resizing of text */
}

.Btn {
    background-color: #0057e7;
    border-radius: 15px;
    width: 200px;
}

.sideBar:hover .sideBarBtn {
    font-size: 18px;
    padding: 15px;
}

.sideBar:not(:hover) {
    width: 60px;
    opacity:100%;
}

    .sideBar:not(:hover) .sideBarBtn {
        font-size: 0px;
        padding: 10px;
    }

        .sideBar:not(:hover) .sideBarBtn::after {
            content: attr(data-title);
            font-size: 14px;
            color: white;
            padding-left: 10px;
        }

.sideBar.collapsed {
    width: 60px;
}
