html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


/*.inter-<uniquifier > {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

body {
    margin-bottom: 60px;
    background-color: #008744;
}

.e-bigger {
    font-size: x-large;
}

.btn:focus, .btn:active{
    outline:none !important;
    box-shadow: none !important;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #ffffff; /*Tavble row background colors*/
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #ffffff; /*header background color*/
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #ffa700; /*header foreground color*/
            
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

/*Radio button group */
.e-btn-group.custom-rbt-group {
    width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #b2910e;
    background-color: white;
    color: #212b36;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #212b36;
    color: white;
    border: 1px solid #ffa700;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #0057e7;
}

/*Right screen Icons*/
.indexIcon {
    width: 200px;
    height: 200px;
}